<div class="wrap_page">
  <div class="wrap_center">
    <div class="wrap_midlee_content">
      <div class="top_banners_text">серия РГ 18</div>
      <div class="fly_text">
        <p> галтовочные</p>
        <p>станки</p>
      </div>
    </div>
    
    <div class="wrap_bottom_text">
      <div class="bottom_right">
        <a class="button" href="/galtovochnoe_oborudovanie"><p>Купить</p></a>
      </div>
    </div>
  </div>
  <div class="wrap_section">
    <section class="one"> 
      <div class="left_block">
        <div class="top">
          <div class="bar_code"></div>  
          <div class="bar_text">Потоковая обработка</div>
        </div>
        <div class="text_big">
          Экономичность и совершенство поверхности для обрабатывающей промышленности  
        </div>
        <div class="text_small">
          Галтовочные станки серии RG от компании Промтех сочетают в себе высокую производительность, низкий уровень инвестиций капитала и низкий уровень затрат на обработку.Модульная конструкция серии CF Element позволяет каждому станку быть индивидуально адаптированным должным образом к соответствующему применению. Это дает пользователю оптимизированную схему процесса обработки и высокую рентабельность.
        </div>
        <div class="text_small small">
          Галтовочные станки серии RG от компании Промтех сочетают в себе высокую производительность, низкий уровень инвестиций капитала и низкий уровень затрат на обработку.Модульная конструкция серии CF Element позволяет каждому станку быть индивидуально адаптированным должным образом к соответствующему применению. Это дает пользователю оптимизированную схему процесса обработки и высокую рентабельность.
        </div>
      </div>
      <div class="right_block">
        <div class="fly_box">
          
        </div>
      </div>
    </section>  
    <div class="one_sep">
      <div class="fly_img"></div>    
    </div>
    <section class="two">
      <div class="left_box">
        <div class="top">
          <div class="bar_code_two"></div>  
          <div class="bar_text">Область применения</div>
        </div>
        <div class="text_big">
          мы предлагаем обработку  точностью 
        </div>
        <div class="text_small small">
          Наши установки для дробемётной / дробеструйной обработки обеспечивают практически неограниченные возможности в области обработки поверхности: начиная со снятия заусенцев, удаления окалины, песка и ржавчины, кончая приданием шероховатости, матированием, сатинированием, скруглением кромок и дробеструйным упрочнением. Функциональность и внешний вид поверхности не только являются существенным признаком качества технической продукции, но и определяют в значительной мере её успех на рынке. По этой причине обработка поверхности во многих случаях неизбежна и ее необходимо интегрировать в имеющийся производственный процесс как дополнительный этап в цепочке создания стоимости.
        </div>
        <div class="text_normal">
          СОВЕРШЕНСТВО ПОВЕРХНОСТИ. РАСПРОСТРАНЕНИЕ ПО ВСЕМУ МИРУ 
        </div>
      </div>
      <div class="center_box"></div>
      <div class="right_box">
        <div class="box_description">
          <div class="title">Заголовок</div>
          <div class="line">
            <div class="dot"></div>
          </div>
          <div class="desc">Описание</div>
        </div>
        <div class="box_description">
          <div class="title">Заголовок</div>
          <div class="line">
            <div class="dot"></div>
          </div>
          <div class="desc">Описание</div>
        </div>
        <div class="box_description">
          <div class="title">Заголовок</div>
          <div class="line">
            <div class="dot"></div>
          </div>
          <div class="desc">Описание</div>
        </div>
        <div class="box_description">
          <div class="title">Заголовок</div>
          <div class="line">
            <div class="dot"></div>
          </div>
          <div class="desc">Описание</div>
        </div>
        
        </div>
      </section>
      <section class="three">
        <div class="box_video">
          <img src="img/bg_video.png" alt="video rg 18">
        </div>
      </section>
      <section class="four">
          <div class="left_block">
            <div class="top">
              <div class="bar_code"></div>  
              <div class="bar_text">Ключевые особенности</div>
            </div>
            <div class="text_big">
              высококачественные материалы и компоненты
            </div>
            <div class="text_small">
              Уникальная патентованная система станков серии CF Element позволяет установить зазор между диском и крышкой барабана с точностью до 0.05 мм. Данная характеристика позволяет использовать очень мелкие материалы для полировки (гранулы скорлупы ореха размером 0.2 - 0.4 мм).
            </div>
            <div class="text_small ">
              Вследствие чего станки серии CF Element позволяют получать наилучшее качество полировки поверхности. Этот специальный процесс гарантирует то, что зазор при работе не выделяет много тепла. В свою очередь это означает то, что не требуется сжатый воздух для охлаждения барабана. 
            </div>
            <div class="text_small ">
              Благодаря широкому спектру стандартного оборудования, оснащённости дополнительными функциями и средствами автоматизации, наши станки помогают вам масштабировать производство.
            </div>
          <div class="box_img">
            <div class="title">Идеально для удаления заусенцев и полировки</div>
            <div class="img_box"></div>
            <div class="wrap_post">
            <div class="post">до</div>
            <div class="post"> после</div>
          </div>
          </div>
          <div class="text_bottom">
            Идеально подходит для производств небольшого или среднего размера
          </div>

          </div>
          <div class="right_block">
            <div class="fly_box">
              
            </div>
        </section>
      </section>
      <section class="five">
        <div class="wrap_box">
          <div class="text">гарантия долгой и безотказной эксплуатации станка</div>
          <div class="img"></div>
        </div>
      </section>
      <section class="six">
        <div class="top">
          <div class="bar_code"></div>  
          <div class="bar_text">Технические характеристики</div>
        </div>
        <div class="text_top">Достоинства</div>
        <div class="wrap_box">
          <div class="box_section one">
            <div class="text">Низкий уровень капитальных вложений</div>
            <div class="img"></div>
          </div> 
          <div class="box_section two">
            <div class="text">Низкие эксплуатационные расходы</div>
            <div class="img"></div>
          </div> 
          <div class="box_section three">
            <div class="text">Модульная система оборудования позволяет гибко подстраиваться под задачи производства</div>
            <div class="img"></div>
          </div> 
          <div class="box_section four">
            <div class="text">Высокий показатель экономической эффективности</div>
            <div class="img"></div>
          </div> 
          <div class="box_section five">
            <div class="text">Эффективно сконструированные станки разрабатывались специально для ручного использования</div>
            <div class="img"></div>
          </div> 
          <div class="box_section six">
            <div class="text">Совершенные результаты обработки</div>
            <div class="img"></div>
          </div> 
        </div>
      </section>
      <section class="seven">
        <h4>Дополнительные опции</h4>
        <div class="box_options">
          <div class="left_options">
            <div class="opt_img">Фото</div>
            <div class="opt_bottom">
              <div class="title">
                Дозирующая помпа с аварийным отключением 
              </div>
              <div class="description">
                Описание
              </div>
            </div>
          </div>
          <div class="center_options">
            <div class="opt_img">Фото</div>
            <div class="opt_bottom">
              <div class="title">
              Мобильная сепарационная станция CF 50 Element 
              </div>
              <div class="description">
                Описание
              </div>
            </div>
          </div>
          <div class="right_options">
            <div class="opt_img">Фото</div>
            <div class="opt_bottom">
              <div class="title">
                Высококачественная система зазора (CF Element wet) с износостойким керамическим кольцом
              </div>
              <div class="description">
                Описание
              </div>
            </div>
          </div>
        </div>    
      </section>
      <section class="eight">
        <div class="top">
          <div class="bar_code"></div>  
          <div class="bar_text">КАЧЕСТВЕННЫЕ РЕШЕНИЯ - ДЛЯ СТАБИЛЬНОГО КАЧЕСТВА</div>
        </div>
        <div class="wrap_photo">
          <div class="one_photo">
            <div class="photo"></div>
            <div class="title">название</div>
            <div class="description">Идеально подходит для обработки больших серий при гибком производстве.</div>
          </div>
          <div class="two_photo">
            <div class="photo"></div>
            <div class="title">название</div>
            <div class="description">Идеально подходит для обработки больших серий при гибком производстве. </div>
          </div>
          <div class="three_photo">
            <div class="photo"></div>
            <div class="title">РГ18</div>
            <div class="description">Идеально подходит для обработки больших серий при гибком производстве.</div>
          </div>
        </div>
        <div class="button_photo">
          Купить
        </div>
      </section>
      
    </div>
  </div>
  