<div class="wrap_page">
  <div class="wrap_center">
    <div class="wrap_midlee_content">
      <div class="top_banners_text">серия бс</div>
      <div class="fly_text">
        <p> буксирные</p>
        <p>станки</p>
      </div>
    </div>
    
    <div class="wrap_bottom_text">
      <div class="bottom_right">
        <a class="button" href="#"><p>Купить</p></a>
      </div>
    </div>
  </div>
  <div class="wrap_section">
    <section class="one"> 
      <div class="left_block">
        <div class="top">
          <div class="bar_code"></div>  
          <div class="bar_text">Потоковая обработка</div>
        </div>
        <div class="text_big">
          Экономичность и совершенство поверхности для обрабатывающей промышленности  
        </div>
        <div class="text_small">
          Галтовочные станки серии RG от компании Промтех сочетают в себе высокую производительность, низкий уровень инвестиций капитала и низкий уровень затрат на обработку.Модульная конструкция серии CF Element позволяет каждому станку быть индивидуально адаптированным должным образом к соответствующему применению. Это дает пользователю оптимизированную схему процесса обработки и высокую рентабельность.
        </div>
        <div class="text_small small">
          Галтовочные станки серии RG от компании Промтех сочетают в себе высокую производительность, низкий уровень инвестиций капитала и низкий уровень затрат на обработку.Модульная конструкция серии CF Element позволяет каждому станку быть индивидуально адаптированным должным образом к соответствующему применению. Это дает пользователю оптимизированную схему процесса обработки и высокую рентабельность.
        </div>
      </div>
      <div class="right_block">
        <div class="fly_box">
          
        </div>
      </div>
    </section>  
    <div class="one_sep">
      <div class="fly_img"></div>    
    </div>
    <section class="two">
      <div class="left_box">
        <div class="top">
          <div class="bar_code_two"></div>  
          <div class="bar_text">Область применения</div>
        </div>
        <div class="text_big">
          мы предлагаем обработку  точностью 
        </div>
        <div class="text_small small">
          Наши установки для дробемётной / дробеструйной обработки обеспечивают практически неограниченные возможности в области обработки поверхности: начиная со снятия заусенцев, удаления окалины, песка и ржавчины, кончая приданием шероховатости, матированием, сатинированием, скруглением кромок и дробеструйным упрочнением. Функциональность и внешний вид поверхности не только являются существенным признаком качества технической продукции, но и определяют в значительной мере её успех на рынке. По этой причине обработка поверхности во многих случаях неизбежна и ее необходимо интегрировать в имеющийся производственный процесс как дополнительный этап в цепочке создания стоимости.
        </div>
        <div class="text_small small">
          Наши установки для дробемётной / дробеструйной обработки обеспечивают практически неограниченные возможности в области обработки поверхности: начиная со снятия заусенцев, удаления окалины, песка и ржавчины, кончая приданием шероховатости, матированием, сатинированием, скруглением кромок и дробеструйным упрочнением. Функциональность и внешний вид поверхности не только являются существенным признаком качества технической продукции, но и определяют в значительной мере её успех на рынке. По этой причине обработка поверхности во многих случаях неизбежна и ее необходимо интегрировать в имеющийся производственный процесс как дополнительный этап в цепочке создания стоимости.
        </div>
      </div>
      <div class="center_box"></div>
      <div class="right_box">
        <div class="box_description">
          <div class="title">Удаление заусенец</div>
          <div class="line">
            <div class="dot"></div>
          </div>
          <div class="desc">Наши установки для дробемётной / дробеструйной обработки обеспечивают практически неограниченные возможности</div>
        </div>
        <div class="box_description">
          <div class="title">Округление кромок</div>
          <div class="line">
            <div class="dot"></div>
          </div>
          <div class="desc">Наши установки для дробемётной / дробеструйной обработки обеспечивают практически неограниченные возможности</div>
        </div>
        <div class="box_description">
          <div class="title">Выглаживание канавок</div>
          <div class="line">
            <div class="dot"></div>
          </div>
          <div class="desc">Наши установки для дробемётной / дробеструйной обработки обеспечивают практически неограниченные возможности</div>
        </div>
        <div class="box_description">
          <div class="title">Полирование</div>
          <div class="line">
            <div class="dot"></div>
          </div>
          <div class="desc">Наши установки для дробемётной / дробеструйной обработки обеспечивают практически неограниченные возможности</div>
        </div>
        
      </div>
    </section>
    <section class="three">
      <div class="box_video">
        <img src="img/bg_video.png" alt="СТАНКИ СЕРИИ БС">
      </div>
    </section>
    <section class="four">
      <div class="left_block">
        <div class="top">
          <div class="bar_code"></div>  
          <div class="bar_text">Ключевые особенности</div>
        </div>
        <div class="text_big">
          качественный продукт - качественный результат
        </div>
        <div class="text_small">
          Наши установки для дробемётной / дробеструйной обработки обеспечивают практически неограниченные возможности в области обработки поверхности: начиная со снятия заусенцев, удаления окалины, песка и ржавчины, кончая приданием шероховатости, матированием, сатинированием, скруглением кромок и дробеструйным упрочнением. Функциональность и внешний вид поверхности не только являются существенным признаком качества технической продукции, но и определяют в значительной мере её успех на рынке. По этой причине обработка поверхности во многих случаях неизбежна и ее необходимо интегрировать в имеющийся производственный процесс как дополнительный этап в цепочке создания стоимости.
        </div>
        <div class="wrap_ico">
          <div class="top_ico">
            <div class="ico_img"></div>
            <div class="ico_text">
              <div class="title">Сенсорная панель</div>
              <div class="desc">Удобное управление и программирование параметров процесса и глубины погружения (опция)</div>
            </div>
          </div>
          <div class="bottom_ico">
            <div class="ico_img"></div>
            <div class="ico_text">
              <div class="title">Двойной привод</div>
              <div class="desc">При использовании системы двойного привода скорость ротора и заготовок может устанавливаться независимо друг от друга. Это позволяет точно настроить оборудование по требованиям к заготовке</div>
            </div>
          </div>
        </div>
        <div class="text_big">
          оригинальные компоненты для оригинальных систем
        </div>
        <div class="text_small ">
          Наши установки для дробемётной / дробеструйной обработки обеспечивают практически неограниченные возможности в области обработки поверхности: начиная со снятия заусенцев, удаления окалины, песка и ржавчины, кончая приданием шероховатости, матированием, сатинированием, скруглением кромок и дробеструйным упрочнением. Функциональность и внешний вид поверхности не только являются существенным признаком качества технической продукции, но и определяют в значительной мере её успех на рынке. По этой причине обработка поверхности во многих случаях неизбежна и ее необходимо интегрировать в имеющийся производственный процесс как дополнительный этап в цепочке создания стоимости. 
        </div>
      </div>
      <div class="right_block">
        <div class="fly_box">
        </div>
      </section>
    </section>
    <section class="five">
      <div class="wrap_box">
        <div class="box_one">
          <div class="img_box"></div>
          <div class="text_box">
            <div class="title">Независимый приводной угловой держатель </div>
            <div class="desc">Идеально подходит для финишных операций при малых и средних производственных сериях.</div>
          </div>
        </div>
        <div class="box_two">
          <div class="img_box"></div>
          <div class="text_box">
            <div class="title">Жесткий держатель</div>
            <div class="desc">Идеально подходит для финишных операций при малых и средних производственных сериях.</div>
          </div>
        </div>
        <div class="box_three">
          <div class="img_box"></div>
          <div class="text_box">
            <div class="title">Быстрая смена инструмента</div>
            <div class="desc">Идеально подходит для финишных операций при малых и средних производственных сериях.</div>
          </div>
        </div>
        <div class="box_four">
          <div class="img_box"></div>
          <div class="text_box">
            <div class="title">Специальные держатели</div>
            <div class="desc">Идеально подходит для финишных операций при малых и средних производственных сериях.</div>
          </div>
        </div> 
      </div>
    </section>
    <section class="six">
      <div class="left_block">
        <div class="top">
          <div class="bar_code"></div>  
          <div class="bar_text">Специальные станки</div>
        </div>
        <div class="text_big">
          только для вас мы заново открываем себя
        </div>
        <div class="text_small">
          Наши установки для дробемётной / дробеструйной обработки обеспечивают практически неограниченные возможности в области обработки поверхности: начиная со снятия заусенцев, удаления окалины, песка и ржавчины, кончая приданием шероховатости, матированием, сатинированием, скруглением кромок и дробеструйным упрочнением. Функциональность и внешний вид поверхности не только являются существенным признаком качества технической продукции, но и определяют в значительной мере её успех на рынке. По этой причине обработка поверхности во многих случаях неизбежна и ее необходимо интегрировать в имеющийся производственный процесс как дополнительный этап в цепочке создания стоимости.
        </div>
        <div class="text_bottom">
          индивидуальные разработки под ваши уникальные требования и по разумной цене
        </div>
      </div>
      <div class="right_block">
        <div class="fly_box">
        </div>
      </section>
      <section class="eight">
        <div class="top">
          <div class="bar_code"></div>  
          <div class="bar_text">КАЧЕСТВЕННЫЕ РЕШЕНИЯ - ДЛЯ СТАБИЛЬНОГО КАЧЕСТВА</div>
        </div>
        <div class="wrap_photo">
          <div class="one_photo">
            <div class="photo"></div>
            <div class="title">БС - 3/4</div>
            <div class="description">Идеально подходит для обработки больших серий при гибком производстве.</div>
          </div>
          <div class="two_photo">
            <div class="photo"></div>
            <div class="title">БС - 5/6</div>
            <div class="description">Решение для финишных операций для крупного промышленного производства.</div>
          </div>
          <div class="three_photo">
            <div class="photo"></div>
            <div class="title">БС - 7/8</div>
            <div class="description">Буксирные станки для шлифования и полирования заготовок во влажной и сухой среде.</div>
          </div>
        </div>
        <div class="button_photo">
          Купить
        </div>
      </section>
      
    </div>
  </div>
  