<div class='footer'>
  <div class="wrap_footer">
    <a href="/" class="logo"></a>
    <div class="center_menu">
      <nav class="left_menu">
        <ul>
          <li>О нас</li>
          <li><a href="#">Компания</a></li>
        </ul>
      </nav>
      <nav class="center_menu">
        <ul>
          <li>инфо</li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Блог</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Выставки и мероприятия</a></li>
          <li><a href="#">Сертификаты безопасности</a></li>
        </ul>
      </nav>
      <nav class="right_menu">
        <ul>
          <li>продукция</li>
          <li><a href="#">Галтовочная техника</a></li>
          <li><a href="#">Дробеметная</a></li>
          <li><a href="#">Методы обработки</a></li>
          <li><a href="#">Выставки и мероприятия</a></li>
          <li><a href="#">Сертификаты безопасности</a></li>
        </ul>
      </nav>
    </div>
    <div class="contact">
      <div class="title">контакты</div>
      <div class="add">Санкт-Петербург, Цветочная ул. д. 25</div>
      <div class="phone"><a href="tel:78123363946">+7 (812) 336 39 46</a></div>
      <div class="mail"><a href="mailito:info@promtehspb.ru">info@promtehspb.ru</a></div>
    </div>
  </div>
</div>